
<div class="containe">
    <div class="home">
        <div class="home_container ">
            <div class="home_content text-center">
                <div class="home_title">Thông tin tài khoản</div>
            </div>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-lg-6 content-box-container">
            <!-- <form method="POST" action="/edit-profile/<%=user.id%>" id="edit-profile-form"> -->
                <div id="content-box">
                    <div class="input-row">
                        <p class="input-title">Họ và tên</p>
                        <input class="typing-input" type="text" name="name" placeholder="<%=user.name%>" id="edit-name-input">
                    </div>
                    <div class="input-row">
                        <p class="input-title">Số điện thoại</p>
                        <input class="typing-input" type="text" name="phone" placeholder="<%=user.phone%>" id="edit-phone-input">
                    </div>
                    <div class="input-row">
                        <p class="input-title">Địa chỉ</p>
                        <input class="typing-input" type="text" name="address" placeholder="<%=user.address%>" id="edit-address-input">
                    </div>
                    <div class="input-row">
                        <p class="input-title">Email</p>
                        <input class="typing-input" type="text" placeholder="<%=user.email%>" disabled>
                    </div>
                    <div class="input-row">
                        <p class="input-title">Mật khẩu cũ</p>
                        <input class="typing-input" name="oldpass" type="password" id="edit-old-pass-input">
                    </div>
                    <div class="input-row">
                        <p class="input-title">Mật khẩu mới</p>
                        <input class="typing-input" name="newpass" type="password" id="new-pass">
                    </div>
                    <div class="input-row">
                        <p class="input-title">Xác nhận mật khẩu mới</p>
                        <input class="typing-input" type="password"  id="confirm-password-edit">
                    </div>               
                    <div class="input-row" style="font-size: 14px;color:#EC501F;padding-left: 9px;" id="edit-profile-alert"></div>
                    <div id="input-row-last">
                        <button type="submit" class="btn btn-danger button" id="edit-profile-submit-btn" data-id="<%=user._id%>" data-email="">CẬP NHẬT</button>

                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>