<!-- Phần ô sản phẩm  -->
<div class="product-show">
    <div class="row">
        <% products.forEach((entry) => { %>
        <div class="col-md-3 col-xs-6">
            <div class="product product_store">
                <a href="/product/<%= entry._id %>">
                    <div class="product-img">
                        <img src="<%= entry.imgSrc %>" alt="">
                        <div class="product-label">
                            <!-- <span class="sale">-30%</span>
                        <span class="new">MỚI</span> -->
                        </div>
                    </div>
                </a>
                <div class="product-body">
                    <p class="product-category"><%= entry.category %></p>
                    <h3 class="product-name"><a href="/product/<%= entry.name %>"><%= entry.name %></a></h3>
                    <h4 class="product-price"><%= priceConverter(entry.price) %> đ <del
                            class="product-old-price"><%= priceConverter(entry.old_price) %> đ</del>
                    </h4>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>