<% products.forEach((entry) => { %>
<div class="product">
    <a href="/product/<%= entry._id %>">
        <div class="product-img">
            <img src="<%= entry.imgSrc %>" alt="">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">MỚI</span>
            </div>
        </div>
    </a>
    <div class="product-body">
        <p class="product-category"><%= entry.category %></p>
        <h3 class="product-name"><a href="/product/<%= entry.name %>"><%= entry.name %></a></h3>
        <h4 class="product-price"><%= entry.price %> <del class="product-old-price"><%= entry.old_price %></del>
        </h4>
        <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>
</div>
<% }) %>