<div class="row">
    <% products.forEach((entry) => { %>
    <div class="col-md-4 col-xs-6">
        <div class="product">
            <a href="/sample-product">
                <div class="product-img">
                    <img src="<%= entry.imgSrc %>" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">MỚI</span>
                    </div>
                </div>
            </a>
            <div class="product-body">
                <p class="product-category"><%= entry.category %></p>
                <h3 class="product-name"><a href="/sample-product"><%= entry.name %></a></h3>
                <h4 class="product-price"><%= entry.price %> <del class="product-old-price"><%= entry.price %></del>
                </h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">thêm vào danh
                            sách mong
                            muốn</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">thêm vào so
                            sánh</span></button>
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
                            nhanh</span></button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào
                    giỏ</button>
            </div>
        </div>
    </div>
    <% }) %>
</div>