<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#"><%= product.category %></a></li>
                    <li class="active"><%= product.name %></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="<%= product.imgSrc %>" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac3.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="./img/ac.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/ac3.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name"><%= product.name %></h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">10 đánh giá | Thêm đánh giá</a>
                    </div>
                    <div>
                        <h3 class="product-price"><%= product.price %> <del class="product-old-price"><%= product.price %></del></h3>
                        <span class="product-available">Còn hàng</span>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào giỏ</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> thêm vào danh sách mong muốn</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> thêm vào so sánh</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Danh mục:</li>
                        <li><a href="#"><%= product.category %></a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Chia sẻ:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                        <li><a data-toggle="tab" href="#tab2">Cấu hình</a></li>
                        <li><a data-toggle="tab" href="#tab3">Nhận xét (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Chủ đề tâm điểm của Assassin’s Creed: Origins sẽ là nền văn minh Ai Cập cổ đại
                                        và cốt truyện của game sẽ nói về hội sát thủ đầu tiên được thành lập trên thế
                                        giới. Vào vai nhân vật chính có tên Bayek, người chơi sẽ tham gia vào một cuộc
                                        hành trình đầy thử thách để chống lại Templar: The Order of the Ancients.<br>
                                        Khác với những nhân vật chính trước đây như Connor, Altair, Edward hay Ezio,
                                        Bayek có xu hướng hành động như một chiến binh chứ không phải một sát thủ. Ngoài
                                        ra, anh ta cũng sở hữu một sức mạnh thể chất tuyệt vời, cùng với đó là một chú
                                        đại bang thông minh để giúp sức trong việc khát sát và thăm dò địa hình.
                                    </p>
                                    <h3>Trailer</h3>
                                    <iframe width="1120" height="630" src="https://www.youtube.com/embed/kGq7ZCth7QY"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <h3>Cấu hình tối thiểu</h3><br>
                                        Hệ điều hành: Windows 7 SP1, Windows 8.1, Windows 10 (64-bit)<br>
                                        CPU: Intel Core i5-2400s @ 2.5 GHz hoặc AMD FX-6350 @ 3.9 GHz hoặc tương đương<br>
                                        RAM: 6 GB<br>
                                        Đồ họa: NVIDIA GeForce GTX 660 hoặc AMD R9 270 (2048 MB VRAM với Shader Model
                                        5.0 hoặc tốt hơn)<br>
                                        DirectX: Phiên bản 11<br>
                                        Ổ cứng: 42 GB dung lượng trống
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>4.5</span>
                                            <div class="rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27/12/2018, 08:00 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27/12/2018, 08:00 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">John</h5>
                                                    <p class="date">27/12/2018, 08:00 PM</p>
                                                    <div class="review-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <input class="input" type="text" placeholder="Họ tên">
                                            <input class="input" type="email" placeholder="Email">
                                            <textarea class="input" placeholder="Nhận xét của bạn"></textarea>
                                            <div class="input-rating">
                                                <span>Đánh giá của bạn: </span>
                                                <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"><label
                                                        for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label
                                                        for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label
                                                        for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label
                                                        for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label
                                                        for="star1"></label>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Đăng</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản phẩm liên quan</h3>
                </div>
            </div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/ac.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">MỚI</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Phiêu lưu</p>
                        <h3 class="product-name"><a href="#">Assassin's Creed: Origins</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del>
                        </h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">thêm vào
                                    danh sách mong
                                    muốn</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">thêm vào
                                    so
                                    sánh</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
                                    nhanh</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào
                            giỏ</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/bf.jpg" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">MỚI</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Hành động</p>
                        <h3 class="product-name"><a href="#">Battlefield 1</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del>
                        </h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">thêm vào
                                    danh sách mong
                                    muốn</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">thêm vào
                                    so
                                    sánh</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
                                    nhanh</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào
                            giỏ</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/cod.jpg" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">MỚI</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Hành động</p>
                        <h3 class="product-name"><a href="#">Call of Duty: WWII</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del>
                        </h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">thêm vào
                                    danh sách mong
                                    muốn</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">thêm vào
                                    so
                                    sánh</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
                                    nhanh</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào
                            giỏ</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/csgo.jpg" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">MỚI</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Chiến thuật</p>
                        <h3 class="product-name"><a href="#">Counter-Strike: Global Offensive</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del>
                        </h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">thêm vào
                                    danh sách mong
                                    muốn</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">thêm vào
                                    so
                                    sánh</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
                                    nhanh</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào
                            giỏ</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->